.classpath
.project
/.gradle/
gradle.properties
gradle-app.setting
/build/
/lib/
/bin/
/.externalToolBuilders/
/.myhibernatedata
/.mymetadata
/.mystrutsdata
/.springBeans
.*.swp
classes/
*.class
/.settings/
*.log
.DS_Store
*~
.metadata/
env_custom.properties
/testLog
